<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
    </head>
    <body>
        <div class="background">
            <div id="overimg">
                <div class="button">
                    <a href="./blog">HOME</a>
                </div>
                <div class="button">
                    <a href="./newpost">POST NEW BLOG</a>
                </div>
                <div>
                    <h2>{{title}}</h2>
                </div>
            </div> 
        </div>
    <section>
    {% with messages = get_flashed_messages(with_categories=True) %}

        {% for category,message in messages %}
            <h4 class="{{category}}">{{message}}</h4>
        {% endfor %}

    {% endwith %}

    {% block content %}
    
    
    {% endblock %}
    </section>
    <footer>
        <div>
            <h4>
                Made with love by <a href="https://twitter.com/thesxesarah" target="_b">Sarah Hendrickson</a> on July 12, 2017
            </h4>
        </div>
    </footer>
</body>
</html>