<!doctype html>
<html>
    <head>
        <style>
            .center {
                text-align: center;
            }
            .error {
                color: red;
            }

            .message {
                color: teal;
            }


        </style>
        <div class="center">
            <title>{{title}}</title>
        </div>
            <div class="center">
                <a href="./blog">Blog Homepage</a>    <a href="./newpost">Create a blog entry!</a>
            </div>
    </head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}

        {% for category,message in messages %}
            <h4 class="{{category}}">{{message}}</h4>
        {% endfor %}

    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>