{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method='post'>


    {% if blogs|length == 0 %}
    <p>No blogs yet! <a href="./newpost">Start blogging!</a></p>
    {% else %}

            {% for blog in blogs %}
                {% if title == "Build-a-Blog!": %}            
                    <h3><a href="./blog?id={{ blog.id }}">{{ blog.title }}</a></h3>
                {% endif %}
                <p>{{ blog.content }}</p>
                <hr />
            {% endfor %}
    {% endif %}


{% endblock %}