{% extends "base.html" %}

{% block content %}

<p>New user?<a href="/signup"> Sign up</a>!</p>
<div id="flex-blogz">
<form action="/login" method="post">
    <table class="prettyTable">
        <tr>
            <td><label for="username">Username: </label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password: </label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</div>
</form>
{% endblock %}