{% extends "base.html" %}
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
    </head>
{% block content %}
<h1>ADD A BLOG ENTRY</h1>
<form action="/newpost" method="post">
    <table>
        <tr>
            <td><label for="title">CREATE BLOG TITLE:</label></td>
            <td>
                <input name="title" type="text" value="{{ title }}">
            </td>
        </tr>
        <tr>
            <td><label for="content">ADD BLOG CONTENT:</label></td>
            <td>
                <textarea name="content" cols="40" rows="5"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Entry!">
</form>
{% endblock %}